# Dependencies
node_modules/
**/node_modules/

# Lockfiles
package-lock.json
**/package-lock.json

# Native C++ build outputs
build/
**/build/

# Mods & local asset folders
mods/

# Test & scratch scripts (including wasapi-loopback)
native/wasapi-loopback/check-sessions.js
test.json
test.js
check-sessions.js

# OS & Environment junk
*.log
.DS_Store
Thumbs.db

# Executables and distribution builds
dist/
**/dist/